.container {
  max-width: 960px;
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Extra utilities
 */

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }

.fixed-top {
  width: 0px;
}



#divMainContainer{
  z-index: 0;
  padding: 0px;
}

#imgPlan {
  width: 100%;
}

div.point {
  width: 12px;
  height: 12px;
  border-radius: 6px;
  margin-left: -6px;
  margin-top: -6px;

  border: 2px solid #003300;
  background-color: green;
  position: absolute;  

  cursor: pointer;

  z-index: 3;
}

div.point.you {
  border-color: #A03318;
  background-color: #FF5526;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  margin-left: -8px;
  margin-top: -8px;
}


div.point.selected {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  margin-left: -8px;
  margin-top: -8px;
  
  border-color: #992222;
  background-color: red;  
}

div.point.you.selected{
  border-color: #992222;
  background-color: red;  
}


div.point.new {
  border-color: #0034aa;
  background-color: #007bff;
}

span.point-name {
  position: absolute;
  font-size: 10px;  
  line-height: 10px;
  margin-top: 8px;
  margin-left: -6px;
  max-width: 40px;
  background: #fff;
  z-index: 2;
  display: none;
}

div.room-description {
  position: absolute;
  z-index: 0;
  font-weight: bold;  
}

div.room-description div.name{
  margin-top: 30px;
}

div.room-description div.desc {
  font-size: 10px;  
}

#divMainContainer div.room {
  border: 2px solid #003300;
  border-color: rgba(00, 51, 00, 0.2);
  background-color: rgba(00, 51, 00, 0.2);
  position: absolute;
  cursor: pointer;
  font-weight: bold;
  vertical-align: middle;  
  z-index: 1;
  line-height: 75px;
}

#divMainContainer div.room.service, div.room.meeting {
  background-color: rgba(0, 0, 150, 0.2);
}

#divMainContainer div.room.outage {
  background-color: transparent;
  color: transparent;
  border: 0px;  
}

#divMainContainer div.room div.name {
  margin-top: 30px;
  font-size: 14px;
  line-height: 16px;  
}

#divEmployeeDetails {
  margin-left: 50px;
  margin-top: 100px;
  width: 500px;
  display: none;
}

#ulEmployees {
  max-height: 600px;
  overflow-y: scroll;
}

#ulEmployees li {
  cursor: pointer;
}

div.avatar-container{
  padding-left: 0px;  
}

div.avatar-frame {
  border: 1px solid #999;
  border-radius: 3px;
  padding: 2px;
  cursor: pointer;
}


#divLogin{
  width: 400px;
  margin: 0px auto;
}

#aSkype {
  line-height: 38px;
}




div.pacman {
  width: 24px;
  height: 24px;  
  position: absolute;
  top: 67%; 
  left: 10%;
  z-index: 100;
  margin-top: -12px;
  margin-left: -12px;
}
div.pacman img {
  width: 24px;
  height: 24px;
}
div.points{
  position: absolute;
  top: 3%;
  left: 3%;
  font-size: 14px;
  font-weight: bold;
}

.photo-preview-bg {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  z-index: 10000;
  text-align: center;
  padding-top: 10%;
  background-color: rgba(51, 51, 51, 0.9);
}

.photo-preview {
  max-height: 80%;  
  display: inline;
  border: 1px solid #000;
}

.photo-preview img {
  max-width: 80%;
  max-height: 80%;  
}

div.logo{
  position: absolute;
  left: 35%;
  top: 15%;
}

.room-name{
  color: #606060;
}

#ulEmployees li.role5 {
  
}

#spanCoord{
  display: inline;
  color: transparent;
}

a.dropdown-item {
  cursor: pointer;
}

div.logo[floor='3']{
  top: 41%;
  left: 47%;
  max-width: 20%;
}

div.logo[floor='3'] h2{
  display: none;
}

@media print{
  .position-relative {
    position: relative !important;
  }

  body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    
  }

  #divmaincontainer, #imgPlan {
    width: 1500px;
    height: 770px;
  }

  div.point, div.point.you {
    width: 8px;
    height: 8px;
    background-color: #fff;
  }

  div.room {
    background-color: #fff;
    border-color: rgba(0, 0, 0, 1);
  }

  span.point-name {
    display: block;
  }
  
  #tblPrintEmployees td {
    font-size: 12pt;
    border: 1px solid #fff;
    width: 30%;
  }

  #tblPrintEmployees tr.row-room td{
    font-size: 14pt;
    font-weight: bold;
    width: 100%;
    padding-top: 10px;
  }
}

